################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hackaton/hackaton/bin
/hackaton/hackaton/obj/Debug
