################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hackaton/hackaton/bin
/hackaton/hackaton/obj/Debug
/hackaton/hackaton/Content/css/site.css.map
