#crear-usuario, #detalleRuta{
	padding: 30px 30px;
}

#detalles-usuario {
	padding: 10px 30px;

	.details-container {
		width: 100%;
	}
}


#paradas-rutas{
	padding: 30px 30px;
}

@media (min-width: 768px) {

	#paradas-rutas{
		padding: 100px 30px;
	}

	#crear-usuario, #detalleRuta{
		padding: 100px 30px;
	}

		#detalleRuta{
		padding: 150px 30px;
	}

	#detalles-usuario {
		padding: 50px 30px;
	}


}